// universal values
$page-width:80%;
$no-value:0;

// margin, padding & spacing

$common-margin: 20px;
$banner-padding: 40px;

// profile pic

$profile-pic-medium: 70px;
$profile-pic-small: 45px;

// font-weight
$font-weight-bold: 400;
$font-weight-bolder: 600;

// font-size
$title-font-size: 36px;
$subtitle-font-size: 18px;