@import '../styles/_mixins';
@import '../styles/_variables';

header {
    display: flex;
    justify-content: space-between;
    margin: $common-margin 0;


    .cnt-description {
        display: inherit;
        flex-direction: column;
        margin: auto $common-margin;
    }

    .cnt-usr-info {
        display: inherit;
        align-items: center;

        img {
            @include profile-image;
        }
    }
}