@import '../styles/variables.scss';

.banner {
  display: inherit;
  align-items: center;
  background-color: lightblue;
  flex-direction: column;
  padding: $banner-padding;

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }

}