@import '../styles/variables.scss';
@import '../styles/mixins.scss';

article {
    display: flex;
    flex-direction: column;
}

.cnt-header {
    text-align: center;
}


.cnt-top-banner {
    display: inherit;
    justify-content: center;
    gap: 10%;

    .top-box {
        display: inherit;
        flex-direction: column;
        align-items: center;

        img {
            @include profile-image($profile-pic-medium)
        }

    }
}