@import '../styles/variables.scss';
@import '../styles/mixins.scss';


h3,
h4 {
    text-align: center;
}

.cnt-featured-items-widget {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: $common-margin auto;

    .item-info{
        display: inherit;
        flex-direction: column;
        align-items: center;

        img {
            @include profile-image($profile-pic-medium)
        }
    }
}