.cnt-item-profile {
    display: inherit;
    flex-direction: column;
    
    p {
        padding: 20px;
        text-align: justify;
    }

    strong {
        margin-top: 20px;
        text-align: center;
    }

    .cnt-purchase-actions {
        display: flex;
        justify-content: space-between;
    }
}